html {
    font-size: 14px;
    #background-color: #191919;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        #background-color: #191919;
    }
}

html {
    position: relative;
    min-height: 100%;
    #background-color: #191919;
}

body {
    margin-bottom: 60px;
    #background-color: #191919;
}
